:root{
    --background: #2e86d8;
    --btn: #2e86d8;
    --btnHover: #2e86d8c7;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--background);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 5px;
}

header a:hover{
    color: black;
    background-color: white;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="text"]:focus {
    border-color: var(--background);
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--btn);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--btnHover);
}
