:root{
    --background: #2e86d8;
    --btn: #2e86d8;
    --btnHover: #2e86d8c7;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--background), var(--btnHover));
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h2 {
    margin-bottom: 20px;
    color: white;
}

form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 50px;
    color: white;
    backdrop-filter: blur(10px);
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

form input::placeholder {
    color: #f0f0f0;
}

form input:focus {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

form button {
    width: 100%;
    padding: 15px;
    background-color: var(--btn);
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

form button:hover {
    background-color: var(--btnHover);
}
